body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* Navbar */

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.flex{
    display: flex;
}

/* ALERTS */

.flash{
    /* text-align: center; */
    margin-top: 1rem;
}


/* Footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
 
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    height: 8rem;
}

/* Edit Page */
.edit-btn{
    background-color:  #fe424d !important;
    border: none !important;
}
/* .edit-row{
    margin-top: ;
} */

